
.center{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}

.no-border{
    border: 0;
}
.udl_txt{
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 1px solid black;
}
.amount{
    text-align: right;
}
.upper-case{
    text-transform: uppercase;
}
.v-align-top {
    vertical-align: text-top;
}
@media print{

    .main-footer{
        display: none;
    }
    .btn{
        display: none;
    }

} 